.filtersContainer {
  display: flex;
  gap: 12px;
}

.title {
  margin: 0;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.form {
  display: flex;
  gap: 4px;
}
